{{- $indentation_inc := "    " -}}
{{- define "map" -}}
{{- $indentation_inc := "    " -}}
{{- $indentation := (dig "indentation" "    " .) -}}
{{- if hasKey . "comment" }}
{{ $indentation }}### {{ .comment }}
{{ end -}}
{{ $indentation }}"{{ .key }}" {
{{ if hasKey . "bindings" -}}
  {{- if hasKey . "action" -}}
  # Clashing configuration was ignored {{.key}} -> {{.action}}
{{ end -}}
{{ $indentation }}{{ $indentation_inc }}description: {{ dig "help" "" . }}...
{{ $indentation }}{{ $indentation_inc }}bindings {
{{ range $k, $v := .bindings -}}
    {{- $d := dict "key" $k "indentation" (print $indentation $indentation_inc $indentation_inc) -}}
    {{- template "map" (merge $d $v) -}}
  {{- end -}}
{{ $indentation }}{{ $indentation_inc }}}
{{ else -}}
  {{- if kindIs "string" .action -}}
{{ $indentation }}{{ $indentation_inc }}actionId: "{{ .action }}", description: {{ dig "help" .action . }}
{{ else if kindIs "slice" .action -}}
{{ $indentation }}{{ $indentation_inc }}# Unsupported ideavim configuration (slice) {{.key}} -> {{.action}}
{{ $indentation }}{{ $indentation_inc }}actionId: OpenAtamanConfigAction, description: Invalid placeholder
{{ end -}}
{{ end -}}
{{ $indentation }}}
{{ end -}}
# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md
bindings {
{{ range $k, $v := .ataman.bindings  -}}
    {{- $d := dict "key" $k "indentation" $indentation_inc -}}
    {{- template "map" (merge $d $v) -}}
{{- end -}}
}
