#!/bin/sh
xrandr --output {{ .vertical_monitor }} --mode 1920x1080 --rate 60 --pos 0x0 --rotate left \
--output {{ .main_monitor }} --primary --mode 3440x1440 --rate 60 --pos 1080x0 --rotate normal \
--output {{ .laptop_monitor }} --mode 1920x1200 --rate 60 --pos 4520x0 --rotate normal
