[misc]
[commands]
"asdf" = "asdf plugin update --all"
"notes" = "syncn"
{{ if eq .chezmoi.hostname "flower" }}
"OpsCore" = "opscore update"
"OpsCoreSecurity" = "opscore security update"
"Shinobi" = "shinobi update"
{{ end  }}
